/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --body-color: #f0f2f7;
    --sidebar-color: #FFF;
    --primary-color: #6da2dd;
    --primary-color-light: #F6F5FF;
    --toggle-color: #7ca6cf;
    --text-color: #424242;
    --shadow-color: rgba(48, 43, 43, 0.15);

    --tran-01: all 0.07s ease;
    --tran-02: all 0.3s ease;
}

body{
    background-color: var(--body-color);
    background-image: url(../images/back.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

body.dark{
    --body-color: #121212;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ffffffe2;
    --shadow-color: rgba(226, 206, 206, 0.1);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

.btn-primary{
    background-color: #0054B9;
}

img {
    max-width: 100%;
    height: auto;
  }  

.text-muted{
    color:#ABB0B5 !important;
}

.pill{
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.25rem;
}

/* ===== Sidebar ===== */
.sidebar{
    position: fixed;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-02);
    z-index: 1;  
}
.sidebar.close{
    width: 90px;
}

.sidebar li{
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-01);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    transition: var(--tran-01);
}
.sidebar.close .text{
    opacity: 0;
    transition: var(--tran-01);
}

.sidebar header{
    position: relative;
}

.sidebar header .text{
    display: flex;
    align-items: column;
}

.sidebar header .toggle{
    position: absolute;
    /*open menu height*/
    top: 150%;
    right: -35px;
    transform: translateY(-50%) rotate(180deg);
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    transition: var(--tran-01);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-02);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}
.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-02);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-02);
}

body.dark .switch::before{
    left: 20px;
}

.panel{
    position: relative;
    padding-bottom: 11rem !important;
}

.home{
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    transition: var(--tran-02);
}
.home .text{
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
    text-align: center;
}

.sidebar.close ~ .home{
    left: 76px;
    width: calc(100% - 76px);
}

body.dark .home .text{
    color: var(--text-color);
}

.title{
    font-size: clamp(1.1rem, 6vw, 2.5rem) !important; 
    padding-bottom: 7rem !important;
}

.subtitle{
    font-size: clamp(0.8rem, 4vw, 1.5rem); 
}

/*cards*/
.card{
    border-radius: 20px;
    transition: transform 0.25s ease-out;
    background-color: var(--sidebar-color);
    display: flex;
    z-index: 1;
  }

.card-title,
.card-text{
    color: var(--text-color);
}

.card-img-top{
    cursor: pointer;
}
  
.card:hover{
    transform: translateY(-3px);
    box-shadow: 0.3px 2.8px 4.4px var(--shadow-color),
    0.7px 6.7px 10.6px var(--shadow-color),
    1.4px 12.5px 15px var(--shadow-color);
}

/*on screen shrink*/
@media (max-width: 900px) {
    .toggle {
        visibility: hidden;
    }
    .sidebar.close{
        width: 60px;
        padding: 10px 0px;
    }
}
