@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  opacity: 0.5;
  animation: fadeInUp 1s forwards;
}

video {
  opacity: 0.5;
  max-width: 100%;
  transition: ease-in 0.3s;
}

.swiper-content {
  transition: ease-in 0.3s;
}

.active {
  opacity: 0.9;
  transform: translateY(-5px);
}

.active video {
  opacity: 0.9;
}

@keyframes fadeInUp {
  from {
    opacity: 0.5;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#swiper {
  width: 60vw;
  margin: 0 auto;
}
#swiper-track {
  display: flex;
}
.swiper-item {
  display: flex;
  justify-content: center;
  min-width: calc(100% - 40px);
  margin-right: 20px;
  margin-left: 20px;
  display: border-box;
  image-rendering: -webkit-optimize-contrast;
}

@media (max-width: 1440px) {
  #swiper {
    width: 90vw;
  }
}
