@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.navbar {
  padding: 0.5rem;
}

h1 {
  animation: fadeInUp 1s forwards;
}

h2 {
  display: inline;
}

.project-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.project-link:hover {
  text-decoration: underline;
}

.social {
  margin-left: 5px;
}

video {
  opacity: 0.5;
  max-width: 100%;
  transition: ease-in 0.3s;
}

.swiper-content {
  transition: ease-in 0.3s;
}

.active video {
  opacity: 0.9;
}

@keyframes fadeInUp {
  from {
    opacity: 0.5;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#swiper {
  width: 100vw;
  margin: 0 auto;
}
#swiper-track {
  display: flex;
}
.swiper-item {
  display: flex;
  min-width: calc(100% - 40px);
  margin: 0 20px;
  image-rendering: -webkit-optimize-contrast;
  padding-top: 5px;   /* upward shift */
}

.swiper-controller {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  height: 3rem;
}

.swiper-button {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swiper-button.active {
  background-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

@media (hover: hover) {
  .swiper-button:hover {
    background-color: #639bd7;
  }
}

@media (min-width: 1440px) {
  #swiper {
    width: 50vw;
  }

  .active .swiper-content {
    transform: translateY(-2px);
  }
}