<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="description" content="{{ .Site.Title }}">

<link rel="preload" as="image" href="{{ "media/back.svg" | relURL }}" type="image/svg+xml">
<style>
:where(h1) {
  margin-block: 0.67em;
  font-size: 2em;
}
body {
    background-image: url('{{ "media/back.svg" }}');
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

{{ $bootstrap := resources.Get "css/bootstrap.min.css" | css.PostCSS (dict "outputStyle" "compressed") }}
{{ $style := resources.Get "matts-style.css" }}
{{ $combined := slice $bootstrap $style | resources.Concat "css/combined.css" | minify | fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $combined.RelPermalink }}" integrity="{{ $combined.Data.Integrity }}">

<link rel="icon" href="{{ "media/favicon.ico" | relURL }}" type="image/x-icon">

<title>{{ .Site.Title }}</title>