<nav class="navbar navbar-expand-lg bg-light shadow-lg mb-5 fixed-top" style="opacity: 90%;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><code>{{ .Site.Params.nav_title }}</code><span style="animation: flicker 1.2s infinite;">_</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav ms-auto">
        {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .PageRef  }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>