<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="description" content="{{ .Site.Title }}">

<style>
body {
    background-image: url('{{ "media/back.svg" }}');
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

{{ $css := resources.Get "css/bootstrap.min.css" | resources.PostCSS (dict "outputStyle" "compressed") | minify | fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

{{ $style := resources.Get "matts-style.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<link rel="icon" href="{{ "media/favicon.ico" | relURL }}" type="image/x-icon">

<title>{{ .Site.Title }}</title>