<div style="overflow-x: hidden;">
    <div id="swiper">
        <div id="swiper-track">
          {{ range .Site.Data.slides }}
              <div class="swiper-item">
                <div class="swiper-content">
                  <div class="card" style="height: 100%;">
                    <div class="card-header">
                      <a href="{{ .project_page }}" class="project-link">
                        <h2>{{ .title }}</h2>
                      </a>
                      <p>{{ .description }}</p>
                    </div>
                    <div class="card-body" style="align-items: center; justify-content: center; display: flex;">
                      <video data-src="{{ .video_path }}" alt="{{ .title }}" autoplay loop muted></video>
                    </div>
                  </div>
                </div>
              </div>
          {{ end }}
        </div>
    </div>
    <div class="swiper-controller">
      {{ $index := 0 }}
      {{ range .Site.Data.slides }}
          <div class="swiper-button {{ if eq $index 0 }}active{{ end }}" data-index="{{ $index }}" type="button"></div>
          {{ $index = add $index 1 }}
      {{ end }}
    </div>
</div>

{{ with resources.Get "matts-swiper.js" | js.Build | minify | fingerprint }}
<script src="{{ .RelPermalink }}" defer></script>
{{ end }}
