<div style="overflow-x: hidden;">
    <div id="swiper">
        <div id="swiper-track">
          {{ $index := 0 }}
          {{ range .Site.Data.slides }}
              <div class="swiper-item">
                <video class="{{ if eq $index 0 }}active{{ end }}" src="{{ .video_path }}" alt="{{ .title }}" preload="auto" autoplay loop muted></video>
              </div>
              {{ $index = add $index 1 }}
          {{ end }}
        </div>
    </div>
    <div id="swiper-controls" class="swiper-controls">
        <a id="swiper-prev" aria-label="Previous slide" role="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path d="M13.939 4.939 6.879 12l7.06 7.061 2.122-2.122L11.121 12l4.94-4.939z"></path></svg>
        </a>
        <a id="swiper-next" aria-label="Next slide" role="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path d="M10.061 19.061 17.121 12l-7.06-7.061-2.122 2.122L12.879 12l-4.94 4.939z"></path></svg>
        </a>
    </div>
</div>


{{ with resources.Get "matts-swiper.js" | minify | fingerprint }}
<script src="{{ .RelPermalink }}" defer></script>
{{ end }}
